.content {
  &--inner {
    background-color: $beige;
  }
}

@media (min-width: $tablet-width) {
  .content {
    background-color: $mid-grey;

    &--inner {
      background-color: $beige;
    }
  }
}
