@import "./common/variables.scss";
@import "./common/scaffolding.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";

.user-nav__login {
  position: relative;

  display: block;
  padding: 17px 21px 17px 49px;

  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.user-nav__login-icon {
  position: absolute;
  top: 18px;
  left: 25px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  polygon {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .user-nav {
    width: 60px;
  }

  .user-nav__login {
    width: 68px;
    height: 71px;
    padding: 0;

    font-size: 0;

    &:hover .user-list__login-icon {
      opacity: 1;

      polygon {
        fill: #826550;
      }
    }

    &:active .user-list__login-icon {
      opacity: 0.3;

      polygon {
        fill: #ffffff;
      }
    }
  }

  .user-nav__login-icon {
    position: absolute;
    top: 27px;
    left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    width: auto;
    max-width: 160px;
  }

  .user-nav__login {
    position: relative;

    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #000000;

      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: #ffffff;
    }

    &:hover .user-nav__login-icon {
      opacity: 0.3;

      polygon {
        fill: #000000;
      }
    }

    &:active .user-nav__login-icon {
      opacity: 0.1;
    }
  }

  .user-nav__login-icon {
    left: 15px;
    top: 29px;
  }
}




